mini-projects/Whatsapp_Restaurant_Bot/CUsersevils.claudeprojectsD--CodeAI-Gen-AI-Playground-mini-projects-Whatsapp-Restaurant-Botwf_payload.json
{"nodes": [{"parameters": {"httpMethod": "POST", "path": "quote-approval-ready", "responseMode": "onReceived", "options": {}}, "id": "a001", "name": "Webhook - Quote Approval Ready", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-400, 0], "webhookId": "1d2fccb8-8b5f-4daa-b0bc-01cec1d67a0c"}, {"parameters": {"operation": "getAll", "tableId": "leads", "limit": 1, "filterType": "string", "filterString": "={{ 'id=eq.' + $json.body.lead_id }}"}, "id": "a002", "name": "Fetch Lead A", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-128, 0], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"operation": "getAll", "tableId": "estimates", "limit": 1, "filterType": "string", "filterString": "={{ 'id=eq.' + $('Webhook - Quote Approval Ready').item.json.body.estimate_id }}"}, "id": "a003", "name": "Fetch Estimate", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [160, 0], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"jsCode": "const crypto = require('crypto');\nconst token = crypto.randomBytes(32).toString('hex');\nreturn [{ json: { acceptance_token: token } }];"}, "id": "a004", "name": "Generate Token", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [448, 0]}, {"parameters": {"tableId": "quotes", "fieldsUi": {"fieldValues": [{"fieldId": "lead_id", "fieldValue": "={{ $('Webhook - Quote Approval Ready').item.json.body.lead_id }}"}, {"fieldId": "estimate_id", "fieldValue": "={{ $('Webhook - Quote Approval Ready').item.json.body.estimate_id }}"}, {"fieldId": "status", "fieldValue": "pending_approval"}, {"fieldId": "acceptance_token", "fieldValue": "={{ $('Generate Token').item.json.acceptance_token }}"}, {"fieldId": "pdf_url", "fieldValue": "={{ $('Webhook - Quote Approval Ready').item.json.body.pdf_url }}"}, {"fieldId": "total_amount", "fieldValue": "={{ $('Fetch Estimate').item.json.total }}"}]}}, "id": "a005", "name": "Create Quote Record", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [720, 0], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"assignments": {"assignments": [{"id": "f1", "name": "quote_id", "value": "={{ $json.id }}", "type": "string"}, {"id": "f2", "name": "lead_id", "value": "={{ $('Fetch Lead A').item.json.id }}", "type": "string"}, {"id": "f3", "name": "lead_name", "value": "={{ $('Fetch Lead A').item.json.name }}", "type": "string"}, {"id": "f4", "name": "lead_email", "value": "={{ $('Fetch Lead A').item.json.email }}", "type": "string"}, {"id": "f5", "name": "estimate_total", "value": "={{ $('Fetch Estimate').item.json.total }}", "type": "number"}, {"id": "f6", "name": "acceptance_token", "value": "={{ $('Generate Token').item.json.acceptance_token }}", "type": "string"}, {"id": "f7", "name": "crm_approve_url", "value": "={{ 'https://apexwindowstx.com/admin/crm/leads/' + $('Fetch Lead A').item.json.id + '/approve?quote=' + $json.id }}", "type": "string"}, {"id": "f8", "name": "customer_accept_url", "value": "={{ 'https://apexwindowstx.com/quote/accept?token=' + $('Generate Token').item.json.acceptance_token }}", "type": "string"}, {"id": "f9", "name": "customer_decline_url", "value": "={{ 'https://apexwindowstx.com/quote/decline?token=' + $('Generate Token').item.json.acceptance_token }}", "type": "string"}]}, "options": {}}, "id": "a006", "name": "Build Approval URLs", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1008, 0]}, {"parameters": {"operation": "update", "tableId": "leads", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Fetch Lead A').item.json.id }}", "fieldsUi": {"fieldValues": [{"fieldId": "pipeline_stage", "fieldValue": "Quote Pending Approval"}]}}, "id": "a007", "name": "Update Pipeline - Quote Pending", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1280, 0], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"tableId": "activity_log", "fieldsUi": {"fieldValues": [{"fieldId": "lead_id", "fieldValue": "={{ $('Fetch Lead A').item.json.id }}"}, {"fieldId": "event_type", "fieldValue": "quote_approval_queued"}, {"fieldId": "details", "fieldValue": "={{ JSON.stringify({quote_id: $('Build Approval URLs').item.json.quote_id, estimate_total: $('Build Approval URLs').item.json.estimate_total}) }}"}]}}, "id": "a008", "name": "Log - Quote Queued", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1568, 0], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"httpMethod": "POST", "path": "manager-approved", "responseMode": "onReceived", "options": {}}, "id": "b001", "name": "Webhook - Manager Approved", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-400, 608], "webhookId": "d057c78e-a0ee-4bf5-9e37-30d590a271f4"}, {"parameters": {"operation": "getAll", "tableId": "leads", "limit": 1, "filterType": "string", "filterString": "={{ 'id=eq.' + $json.body.lead_id }}"}, "id": "b002", "name": "Fetch Lead B", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-128, 608], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"operation": "getAll", "tableId": "quotes", "limit": 1, "filterType": "string", "filterString": "={{ 'id=eq.' + $('Webhook - Manager Approved').item.json.body.quote_id + '&status=eq.pending_approval' }}"}, "id": "b003", "name": "Validate Quote", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [160, 608], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "c1", "leftValue": "={{ $('Webhook - Manager Approved').item.json.body.adjusted_total }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "b004", "name": "IF Price Adjusted", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [448, 608]}, {"parameters": {"operation": "update", "tableId": "estimates", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Validate Quote').item.json.estimate_id }}", "fieldsUi": {"fieldValues": [{"fieldId": "adjusted_total", "fieldValue": "={{ $('Webhook - Manager Approved').item.json.body.adjusted_total }}"}, {"fieldId": "manually_adjusted", "fieldValue": "true"}, {"fieldId": "status", "fieldValue": "approved"}]}}, "id": "b005", "name": "Update Estimate Adjusted", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [720, 832], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"assignments": {"assignments": [{"id": "f1", "name": "final_total", "value": "={{ $('Webhook - Manager Approved').item.json.body.adjusted_total || $('Validate Quote').item.json.total_amount }}", "type": "number"}, {"id": "f2", "name": "quote_id", "value": "={{ $('Webhook - Manager Approved').item.json.body.quote_id }}", "type": "string"}, {"id": "f3", "name": "lead_id", "value": "={{ $('Webhook - Manager Approved').item.json.body.lead_id }}", "type": "string"}, {"id": "f4", "name": "approved_by", "value": "={{ $('Webhook - Manager Approved').item.json.body.approved_by }}", "type": "string"}, {"id": "f5", "name": "lead_email", "value": "={{ $('Fetch Lead B').item.json.email }}", "type": "string"}, {"id": "f6", "name": "lead_name", "value": "={{ $('Fetch Lead B').item.json.name }}", "type": "string"}, {"id": "f7", "name": "acceptance_token", "value": "={{ $('Validate Quote').item.json.acceptance_token }}", "type": "string"}, {"id": "f8", "name": "pdf_url", "value": "={{ $('Validate Quote').item.json.pdf_url }}", "type": "string"}]}, "options": {}}, "id": "b006", "name": "Set Final Total", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1008, 608]}, {"parameters": {"jsCode": "const ctx = $input.first().json;\nconst aUrl = `https://apexwindowstx.com/quote/accept?token=${ctx.acceptance_token}`;\nconst dUrl = `https://apexwindowstx.com/quote/decline?token=${ctx.acceptance_token}`;\nconst total = parseFloat(ctx.final_total || 0).toFixed(2);\nconst html = `<!DOCTYPE html><html><body style=\"font-family:Arial;max-width:620px;margin:0 auto\"><div style=\"background:#4A148C;padding:22px 8px;border-radius:8px 8px 0 0\"><h1 style=\"color:#fff;margin:0\">Apex Windows TX</h1><p style=\"color:#CE93D8;margin:5px 0 0\">Your Quote is Ready</p></div><div style=\"padding:24px;background:#fafafa\"><p>Hi ${ctx.lead_name},</p><p>Here is your personalised quote for your window service:</p><table style=\"width:100%;border-collapse:collapse;margin:14px 0\"><tr style=\"background:#4A148C\"><th style=\"color:#fff;padding:9px;text-align:left\">Service</th><th style=\"color:#fff;padding:9px;text-align:right\">Price</th></tr><tr><td style=\"padding:9px\">Window Service</td><td style=\"padding:9px;text-align:right\">$$${total}</td></tr></table><div style=\"text-align:center;margin:28px 0\"><a href=\"${aUrl}\" style=\"background:#2E7D32;color:#fff;padding:15px 30px;border-radius:6px;text-decoration:none;font-size:17px;font-weight:bold\">Accept This Quote</a></div><p style=\"text-align:center;font-size:12px;color:#aaa\">Not interested? <a href=\"${dUrl}\">Decline here</a></p><p style=\"font-size:12px;text-align:center\">Questions? Call 214-555-0100</p></div></body></html>`;\nreturn [{ json: { ...ctx, quote_html: html } }];"}, "id": "b007", "name": "Build Quote Email HTML", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1280, 608]}, {"parameters": {"fromEmail": "samarth.kumar2901@gmail.com", "toEmail": "samarth.kumar2901@gmail.com", "subject": "={{ 'Your Apex Windows Quote \u2014 $' + parseFloat($json.final_total).toFixed(2) + ' \u2014 Please Review' }}", "options": {"replyTo": "alvin@apexwindowstx.com"}}, "id": "b008", "name": "Email Quote to Customer", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1568, 608], "webhookId": "66b6cf98-bc3d-4841-a3ed-1ea2cee40f44", "credentials": {"smtp": {"id": "fu7DwGt2cHUoUoyr", "name": "Gmail SMTP - ApexWindows"}}, "continueOnFail": true}, {"parameters": {"operation": "update", "tableId": "quotes", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Webhook - Manager Approved').item.json.body.quote_id }}", "fieldsUi": {"fieldValues": [{"fieldId": "status", "fieldValue": "sent"}, {"fieldId": "approved_by", "fieldValue": "={{ $('Set Final Total').item.json.approved_by }}"}, {"fieldId": "approved_at", "fieldValue": "={{ new Date().toISOString() }}"}, {"fieldId": "sent_at", "fieldValue": "={{ new Date().toISOString() }}"}, {"fieldId": "total_amount", "fieldValue": "={{ $('Set Final Total').item.json.final_total }}"}]}}, "id": "b009", "name": "Update Quote - Sent", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1840, 608], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"operation": "update", "tableId": "leads", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Set Final Total').item.json.lead_id }}", "fieldsUi": {"fieldValues": [{"fieldId": "pipeline_stage", "fieldValue": "Quote Sent"}]}}, "id": "b010", "name": "Update Pipeline - Quote Sent", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [2128, 608], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"tableId": "escalations", "fieldsUi": {"fieldValues": [{"fieldId": "lead_id", "fieldValue": "={{ $('Set Final Total').item.json.lead_id }}"}, {"fieldId": "type", "fieldValue": "customer_not_responded"}, {"fieldId": "due_at", "fieldValue": "={{ new Date(Date.now() + 72*60*60*1000).toISOString() }}"}, {"fieldId": "resolved", "fieldValue": "false"}]}}, "id": "b011", "name": "Create Escalation 72hr", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [2400, 608], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"fromEmail": "samarth.kumar2901@gmail.com", "toEmail": "evilsamarth@gmail.com", "subject": "={{ 'Quote Sent: ' + $('Set Final Total').item.json.lead_name + ' \u2014 $' + parseFloat($('Set Final Total').item.json.final_total).toFixed(2) }}", "emailFormat": "text", "options": {}}, "id": "b012", "name": "Email SM - Quote Sent", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [2688, 608], "webhookId": "473252cb-ddd7-4aad-8e49-904dfc78ddeb", "credentials": {"smtp": {"id": "fu7DwGt2cHUoUoyr", "name": "Gmail SMTP - ApexWindows"}}, "continueOnFail": true}, {"parameters": {"tableId": "activity_log", "fieldsUi": {"fieldValues": [{"fieldId": "lead_id", "fieldValue": "={{ $('Set Final Total').item.json.lead_id }}"}, {"fieldId": "event_type", "fieldValue": "quote_sent"}, {"fieldId": "details", "fieldValue": "={{ JSON.stringify({quote_id: $('Set Final Total').item.json.quote_id, approved_by: $('Set Final Total').item.json.approved_by, total: $('Set Final Total').item.json.final_total}) }}"}]}}, "id": "b013", "name": "Log - Quote Sent", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [2960, 608], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"httpMethod": "POST", "path": "customer-accepted", "responseMode": "onReceived", "options": {}}, "id": "c001", "name": "Webhook - Customer Accepted", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-400, 1312], "webhookId": "b4faed74-2624-4cf1-95fa-270661f34053"}, {"parameters": {"operation": "getAll", "tableId": "quotes", "limit": 1, "filterType": "string", "filterString": "={{ 'acceptance_token=eq.' + $json.body.token + '&status=eq.sent' }}"}, "id": "c002", "name": "Validate Token", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-128, 1312], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"operation": "update", "tableId": "quotes", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Validate Token').item.json.id }}", "fieldsUi": {"fieldValues": [{"fieldId": "status", "fieldValue": "accepted"}, {"fieldId": "accepted_at", "fieldValue": "={{ new Date().toISOString() }}"}]}}, "id": "c003", "name": "Update Quote - Accepted", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [160, 1312], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"operation": "update", "tableId": "leads", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Validate Token').item.json.lead_id }}", "fieldsUi": {"fieldValues": [{"fieldId": "pipeline_stage", "fieldValue": "Quote Accepted"}]}}, "id": "c004", "name": "Update Pipeline - Quote Accepted", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [448, 1312], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"method": "PATCH", "url": "={{ 'https://ioulhoifgcznyezofywb.supabase.co/rest/v1/escalations?lead_id=eq.' + $('Validate Token').item.json.lead_id + '&type=eq.customer_not_responded&resolved=eq.false' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlvdWxob2lmZ2N6bnllem9meXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc5NzMyNywiZXhwIjoyMDkxMzczMzI3fQ.gcV0UAomTRLxH_vniVt7PVptaYabvpc4AGbAFiVgFnY"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlvdWxob2lmZ2N6bnllem9meXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc5NzMyNywiZXhwIjoyMDkxMzczMzI3fQ.gcV0UAomTRLxH_vniVt7PVptaYabvpc4AGbAFiVgFnY"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=minimal"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({resolved: true, resolved_at: new Date().toISOString()}) }}", "options": {}}, "id": "c005", "name": "Resolve Escalation C", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [720, 1312]}, {"parameters": {"fromEmail": "samarth.kumar2901@gmail.com", "toEmail": "evilsamarth@gmail.com", "subject": "={{ 'Quote Accepted \u2014 $' + $('Validate Token').item.json.total_amount + ' \u2014 SCHEDULE NOW' }}", "emailFormat": "text", "options": {}}, "id": "c006", "name": "Email SM - Quote Accepted", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1008, 1312], "webhookId": "809048d2-8caa-4b9c-8c42-bdc6bacf60fb", "credentials": {"smtp": {"id": "fu7DwGt2cHUoUoyr", "name": "Gmail SMTP - ApexWindows"}}, "continueOnFail": true}, {"parameters": {"fromEmail": "samarth.kumar2901@gmail.com", "toEmail": "samarth.kumar2901@gmail.com", "subject": "Confirmed! Your Apex Windows Service is Booked", "emailFormat": "text", "options": {}}, "id": "c007", "name": "Email Customer - Booking Confirmed", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1280, 1312], "webhookId": "6f082da8-a144-44a1-8129-d703870eac2f", "credentials": {"smtp": {"id": "fu7DwGt2cHUoUoyr", "name": "Gmail SMTP - ApexWindows"}}, "continueOnFail": true}, {"parameters": {"tableId": "activity_log", "fieldsUi": {"fieldValues": [{"fieldId": "lead_id", "fieldValue": "={{ $('Validate Token').item.json.lead_id }}"}, {"fieldId": "event_type", "fieldValue": "quote_accepted"}, {"fieldId": "details", "fieldValue": "={{ JSON.stringify({quote_id: $('Validate Token').item.json.id}) }}"}]}}, "id": "c008", "name": "Log - Quote Accepted", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1568, 1312], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"httpMethod": "POST", "path": "job-completed", "responseMode": "onReceived", "options": {}}, "id": "d001", "name": "Webhook - Job Completed", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-400, 2000], "webhookId": "24e1ba7d-42d0-4622-b1c8-efe3fece3832"}, {"parameters": {"operation": "getAll", "tableId": "leads", "limit": 1, "filterType": "string", "filterString": "={{ 'id=eq.' + $json.body.lead_id }}"}, "id": "d002", "name": "Check Duplicate Job", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-128, 2000], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "c1", "leftValue": "={{ ['Completed','Payment Pending','Closed Won'].includes($json.pipeline_stage) }}", "rightValue": "true", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "id": "d003", "name": "IF Already Completed", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [160, 2000]}, {"parameters": {"operation": "update", "tableId": "leads", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Webhook - Job Completed').item.json.body.lead_id }}", "fieldsUi": {"fieldValues": [{"fieldId": "pipeline_stage", "fieldValue": "Completed"}]}}, "id": "d005", "name": "Update Pipeline - Completed", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [448, 2000], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"jsCode": "const lead_id = $('Webhook - Job Completed').first().json.body.lead_id;\nconst marked_by = $('Webhook - Job Completed').first().json.body.marked_by || 'Alvin';\nconst yr = new Date().getFullYear();\nconst num = 'APX-' + yr + '-' + String(Math.floor(Math.random()*9000)+1000);\nconst due = new Date(Date.now()+14*86400000).toISOString().split('T')[0];\nreturn [{ json: { invoice_number: num, invoice_date: new Date().toISOString().split('T')[0], due_date: due, lead_id, marked_by } }];"}, "id": "d006", "name": "Build Invoice Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [720, 2000]}, {"parameters": {"operation": "getAll", "tableId": "quotes", "limit": 1, "filterType": "string", "filterString": "={{ 'lead_id=eq.' + $('Webhook - Job Completed').item.json.body.lead_id + '&status=eq.accepted' }}"}, "id": "d007", "name": "Fetch Accepted Quote", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1008, 2000], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"tableId": "invoices", "fieldsUi": {"fieldValues": [{"fieldId": "lead_id", "fieldValue": "={{ $('Build Invoice Data').item.json.lead_id }}"}, {"fieldId": "quote_id", "fieldValue": "={{ $json.id }}"}, {"fieldId": "invoice_number", "fieldValue": "={{ $('Build Invoice Data').item.json.invoice_number }}"}, {"fieldId": "amount_due", "fieldValue": "={{ $json.total_amount }}"}, {"fieldId": "amount_paid", "fieldValue": "0"}, {"fieldId": "status", "fieldValue": "unpaid"}, {"fieldId": "invoice_date", "fieldValue": "={{ $('Build Invoice Data').item.json.invoice_date }}"}, {"fieldId": "due_date", "fieldValue": "={{ $('Build Invoice Data').item.json.due_date }}"}]}}, "id": "d008", "name": "Create Invoice", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1280, 2000], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"operation": "update", "tableId": "leads", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Build Invoice Data').item.json.lead_id }}", "fieldsUi": {"fieldValues": [{"fieldId": "pipeline_stage", "fieldValue": "Payment Pending"}, {"fieldId": "invoice_number", "fieldValue": "={{ $('Build Invoice Data').item.json.invoice_number }}"}, {"fieldId": "invoice_sent_at", "fieldValue": "={{ new Date().toISOString() }}"}]}}, "id": "d009", "name": "Update Pipeline - Payment Pending", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1568, 2000], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"fromEmail": "samarth.kumar2901@gmail.com", "toEmail": "samarth.kumar2901@gmail.com", "subject": "={{ 'Invoice #' + $('Set Stripe Payment URL').item.json.invoice_number + ' \u2014 Apex Windows TX \u2014 Due ' + $('Set Stripe Payment URL').item.json.due_date }}", "options": {}}, "id": "d010", "name": "Email Invoice", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1840, 2000], "webhookId": "79752c49-9cfb-4371-8933-41b7b7d74c6f", "credentials": {"smtp": {"id": "fu7DwGt2cHUoUoyr", "name": "Gmail SMTP - ApexWindows"}}, "continueOnFail": true}, {"parameters": {"httpMethod": "POST", "path": "payment-received", "responseMode": "onReceived", "options": {}}, "id": "e001", "name": "Webhook - Payment Received", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-512, 2704], "webhookId": "b99ae16a-6686-47a3-8623-8c94e1eb8e2c"}, {"parameters": {"operation": "getAll", "tableId": "invoices", "limit": 1, "filterType": "string", "filterString": "={{ 'invoice_number=eq.' + $json.invoice_number }}"}, "id": "e002", "name": "Validate Invoice", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-128, 2704], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "fullpay", "leftValue": "={{ $json.amount_paid }}", "rightValue": "={{ $json.amount_due - 0.5 }}", "operator": {"type": "number", "operation": "gte", "name": "filter.operator.gte"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "id": "e003", "name": "IF Full Payment", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [256, 2704]}, {"parameters": {"jsCode": "const d = $('Payment Check Data').first().json;\nreturn [{ json: {\n  status: 'partial',\n  invoice_id: d.invoice_id,\n  lead_id: d.lead_id,\n  invoice_number: d.invoice_number,\n  amount_paid: d.amount_paid,\n  balance: d.amount_due - d.amount_paid\n} }];"}, "id": "e004", "name": "Handle Partial Payment", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [448, 2928]}, {"parameters": {"operation": "update", "tableId": "invoices", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Payment Check Data').item.json.invoice_id }}", "fieldsUi": {"fieldValues": [{"fieldId": "amount_paid", "fieldValue": "={{ $json.amount_paid }}"}, {"fieldId": "status", "fieldValue": "partial"}]}}, "id": "e005", "name": "Update Invoice Partial", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [720, 2928], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"fromEmail": "samarth.kumar2901@gmail.com", "toEmail": "evilsamarth@gmail.com", "subject": "={{ 'Partial Payment \u2014 Invoice ' + $('Handle Partial Payment').item.json.invoice_number }}", "emailFormat": "text", "options": {}}, "id": "e006", "name": "Email SM - Partial Payment", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1008, 2928], "webhookId": "7146ac1f-739e-4b7f-899d-9d83f6a18307", "credentials": {"smtp": {"id": "fu7DwGt2cHUoUoyr", "name": "Gmail SMTP - ApexWindows"}}, "continueOnFail": true}, {"parameters": {"operation": "update", "tableId": "invoices", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Payment Check Data').item.json.invoice_id }}", "fieldsUi": {"fieldValues": [{"fieldId": "status", "fieldValue": "paid"}, {"fieldId": "amount_paid", "fieldValue": "={{ $('Payment Check Data').item.json.amount_paid }}"}, {"fieldId": "paid_at", "fieldValue": "={{ new Date().toISOString() }}"}, {"fieldId": "payment_method", "fieldValue": "={{ $('Payment Check Data').item.json.payment_method }}"}, {"fieldId": "transaction_id", "fieldValue": "={{ $('Payment Check Data').item.json.transaction_id }}"}]}}, "id": "e008", "name": "Update Invoice Paid", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [448, 2704], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"operation": "update", "tableId": "leads", "filterType": "string", "filterString": "={{ 'id=eq.' + $('Payment Check Data').item.json.lead_id }}", "fieldsUi": {"fieldValues": [{"fieldId": "pipeline_stage", "fieldValue": "Closed Won"}, {"fieldId": "closed_won_at", "fieldValue": "={{ new Date().toISOString() }}"}]}}, "id": "e009", "name": "Update Pipeline - Closed Won", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [720, 2704], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"method": "PATCH", "url": "={{ 'https://ioulhoifgcznyezofywb.supabase.co/rest/v1/escalations?lead_id=eq.' + $('Validate Invoice').item.json.lead_id + '&resolved=eq.false' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlvdWxob2lmZ2N6bnllem9meXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc5NzMyNywiZXhwIjoyMDkxMzczMzI3fQ.gcV0UAomTRLxH_vniVt7PVptaYabvpc4AGbAFiVgFnY"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlvdWxob2lmZ2N6bnllem9meXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc5NzMyNywiZXhwIjoyMDkxMzczMzI3fQ.gcV0UAomTRLxH_vniVt7PVptaYabvpc4AGbAFiVgFnY"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=minimal"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({resolved: true, resolved_at: new Date().toISOString()}) }}", "options": {}}, "id": "e010", "name": "Resolve All Escalations", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1008, 2704]}, {"parameters": {"fromEmail": "samarth.kumar2901@gmail.com", "toEmail": "samarth.kumar2901@gmail.com", "subject": "Payment Received \u2014 Thank You from Apex Windows TX", "emailFormat": "text", "options": {}}, "id": "e011", "name": "Email Customer - Payment Confirmed", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1280, 2704], "webhookId": "12230918-e222-4110-b7bf-c57ed6e65f78", "credentials": {"smtp": {"id": "fu7DwGt2cHUoUoyr", "name": "Gmail SMTP - ApexWindows"}}, "continueOnFail": true}, {"parameters": {"fromEmail": "samarth.kumar2901@gmail.com", "toEmail": "evilsamarth@gmail.com", "subject": "={{ 'Payment $' + $('Payment Check Data').item.json.amount_paid + ' \u2014 CLOSED WON \u2014 ' + $('Payment Check Data').item.json.invoice_number }}", "emailFormat": "text", "options": {}}, "id": "e012", "name": "Email SM - Closed Won", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1568, 2704], "webhookId": "cf8e115d-3382-49b6-8e6e-641c9ea3b348", "credentials": {"smtp": {"id": "fu7DwGt2cHUoUoyr", "name": "Gmail SMTP - ApexWindows"}}, "continueOnFail": true}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "c1", "leftValue": "false", "rightValue": "true", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "id": "e013", "name": "IF QuickBooks Enabled", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1840, 2704]}, {"parameters": {"method": "POST", "url": "https://placeholder.webhook/wf3/closed-won", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({lead_id: $('Payment Check Data').item.json.lead_id, invoice_number: $('Payment Check Data').item.json.invoice_number, amount_paid: $('Payment Check Data').item.json.amount_paid}) }}", "options": {"timeout": 15000}}, "id": "e014", "name": "Trigger WF3", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2128, 2704], "continueOnFail": true}, {"parameters": {"tableId": "activity_log", "fieldsUi": {"fieldValues": [{"fieldId": "lead_id", "fieldValue": "={{ $('Payment Check Data').item.json.lead_id }}"}, {"fieldId": "event_type", "fieldValue": "closed_won"}, {"fieldId": "details", "fieldValue": "={{ JSON.stringify({ invoice_number: $('Payment Check Data').item.json.invoice_number, amount_paid: $('Payment Check Data').item.json.amount_paid, payment_method: $('Payment Check Data').item.json.payment_method, wf3_triggered: true }) }}"}]}}, "id": "e015", "name": "Log - Closed Won", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [2400, 2704], "credentials": {"supabaseApi": {"id": "uvaGYauEioARBn9x", "name": "Supabase - ApexWindows"}}}, {"parameters": {"jsCode": "const d = $input.first().json;\nconst b = d.body || {};\nreturn [{ json: {\n  invoice_number: d.invoice_number || b.invoice_number,\n  amount_paid:    Number(d.amount_paid   || b.amount_paid   || 0),\n  payment_method: d.payment_method || b.payment_method || 'manual',\n  transaction_id: d.transaction_id || b.transaction_id || null\n} }];"}, "id": "e_normalize", "name": "Normalize Payment", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-272, 2704]}, {"parameters": {"assignments": {"assignments": [{"id": "f1", "name": "invoice_id", "value": "={{ $json.id }}", "type": "string"}, {"id": "f2", "name": "lead_id", "value": "={{ $json.lead_id }}", "type": "string"}, {"id": "f3", "name": "invoice_number", "value": "={{ $json.invoice_number }}", "type": "string"}, {"id": "f4", "name": "amount_due", "value": "={{ Number($json.amount_due) }}", "type": "number"}, {"id": "f5", "name": "amount_paid", "value": "={{ Number($('Normalize Payment').item.json.amount_paid) }}", "type": "number"}, {"id": "f6", "name": "payment_method", "value": "={{ $('Normalize Payment').item.json.payment_method }}", "type": "string"}, {"id": "f7", "name": "transaction_id", "value": "={{ $('Normalize Payment').item.json.transaction_id }}", "type": "string"}]}, "options": {}}, "id": "e_check_data", "name": "Payment Check Data", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [32, 2704]}, {"parameters": {"httpMethod": "POST", "path": "stripe-payment", "responseMode": "onReceived", "options": {}, "responseCode": 200}, "id": "e_stripe_in", "name": "Stripe Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-512, 2912], "webhookId": "c8b2f86c-a52a-440d-bcc0-4bb06d9ee09d"}, {"parameters": {"jsCode": "const body = $input.first().json.body || {};\nif (body.type !== 'checkout.session.completed') return [];\nconst s = body.data && body.data.object;\nif (!s || s.payment_status !== 'paid') return [];\nreturn [{ json: {\n  invoice_number: (s.metadata || {}).invoice_number,\n  amount_paid:    (s.amount_total || 0) / 100,\n  payment_method: 'stripe',\n  transaction_id: s.payment_intent || s.id\n} }];"}, "id": "e_stripe_parse", "name": "Parse Stripe Event", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-368, 2912]}, {"parameters": {"method": "POST", "url": "https://api.stripe.com/v1/prices", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer sk_test_51TLT0hJosmfUu62IlBqQkDOasVrhdGyl7SxxVCIivLclUaF4NFL6QBxYoFl7EjtAs0zOAN5bPg9BjLgjkZqzFryY004rX0mR5Q"}, {"name": "Content-Type", "value": "application/x-www-form-urlencoded"}]}, "sendBody": true, "contentType": "form-urlencoded", "bodyParameters": {"parameters": [{"name": "product", "value": "prod_UK7fOLtQKN18WN"}, {"name": "unit_amount", "value": "={{ String(Math.round(Number($('Fetch Accepted Quote').item.json.total_amount) * 100)) }}"}, {"name": "currency", "value": "usd"}, {"name": "metadata[invoice_number]", "value": "={{ $('Build Invoice Data').item.json.invoice_number }}"}, {"name": "metadata[lead_id]", "value": "={{ $('Build Invoice Data').item.json.lead_id }}"}]}, "options": {}}, "id": "d012", "name": "Create Stripe Price", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1280, 2240]}, {"parameters": {"method": "POST", "url": "https://api.stripe.com/v1/payment_links", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer sk_test_51TLT0hJosmfUu62IlBqQkDOasVrhdGyl7SxxVCIivLclUaF4NFL6QBxYoFl7EjtAs0zOAN5bPg9BjLgjkZqzFryY004rX0mR5Q"}, {"name": "Content-Type", "value": "application/x-www-form-urlencoded"}]}, "sendBody": true, "contentType": "form-urlencoded", "bodyParameters": {"parameters": [{"name": "line_items[0][price]", "value": "={{ $json.id }}"}, {"name": "line_items[0][quantity]", "value": "1"}, {"name": "metadata[invoice_number]", "value": "={{ $('Build Invoice Data').item.json.invoice_number }}"}, {"name": "metadata[lead_id]", "value": "={{ $('Build Invoice Data').item.json.lead_id }}"}, {"name": "after_completion[type]", "value": "hosted_confirmation"}, {"name": "after_completion[hosted_confirmation][custom_message]", "value": "Thank you! Your payment has been received by Apex Windows TX. We appreciate your business!"}]}, "options": {}}, "id": "d013", "name": "Create Stripe Payment Link", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1568, 2240]}, {"parameters": {"assignments": {"assignments": [{"id": "s1", "name": "stripe_payment_url", "value": "={{ $json.url }}", "type": "string"}, {"id": "s2", "name": "invoice_number", "value": "={{ $('Build Invoice Data').item.json.invoice_number }}", "type": "string"}, {"id": "s3", "name": "due_date", "value": "={{ $('Build Invoice Data').item.json.due_date }}", "type": "string"}, {"id": "s4", "name": "amount_due", "value": "={{ Number($('Fetch Accepted Quote').item.json.total_amount) }}", "type": "number"}, {"id": "s5", "name": "lead_id", "value": "={{ $('Build Invoice Data').item.json.lead_id }}", "type": "string"}]}, "options": {}}, "id": "d014", "name": "Set Stripe Payment URL", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1856, 2240]}], "connections": {"Webhook - Quote Approval Ready": {"main": [[{"node": "Fetch Lead A", "type": "main", "index": 0}]]}, "Fetch Lead A": {"main": [[{"node": "Fetch Estimate", "type": "main", "index": 0}]]}, "Fetch Estimate": {"main": [[{"node": "Generate Token", "type": "main", "index": 0}]]}, "Generate Token": {"main": [[{"node": "Create Quote Record", "type": "main", "index": 0}]]}, "Create Quote Record": {"main": [[{"node": "Build Approval URLs", "type": "main", "index": 0}]]}, "Build Approval URLs": {"main": [[{"node": "Update Pipeline - Quote Pending", "type": "main", "index": 0}]]}, "Update Pipeline - Quote Pending": {"main": [[{"node": "Log - Quote Queued", "type": "main", "index": 0}]]}, "Log - Quote Queued": {"main": [[]]}, "Webhook - Manager Approved": {"main": [[{"node": "Fetch Lead B", "type": "main", "index": 0}]]}, "Fetch Lead B": {"main": [[{"node": "Validate Quote", "type": "main", "index": 0}]]}, "Validate Quote": {"main": [[{"node": "IF Price Adjusted", "type": "main", "index": 0}]]}, "IF Price Adjusted": {"main": [[{"node": "Update Estimate Adjusted", "type": "main", "index": 0}], [{"node": "Set Final Total", "type": "main", "index": 0}]]}, "Update Estimate Adjusted": {"main": [[{"node": "Set Final Total", "type": "main", "index": 0}]]}, "Set Final Total": {"main": [[{"node": "Build Quote Email HTML", "type": "main", "index": 0}]]}, "Build Quote Email HTML": {"main": [[{"node": "Email Quote to Customer", "type": "main", "index": 0}]]}, "Email Quote to Customer": {"main": [[{"node": "Update Quote - Sent", "type": "main", "index": 0}]]}, "Update Quote - Sent": {"main": [[{"node": "Update Pipeline - Quote Sent", "type": "main", "index": 0}]]}, "Update Pipeline - Quote Sent": {"main": [[{"node": "Create Escalation 72hr", "type": "main", "index": 0}]]}, "Create Escalation 72hr": {"main": [[{"node": "Email SM - Quote Sent", "type": "main", "index": 0}]]}, "Email SM - Quote Sent": {"main": [[{"node": "Log - Quote Sent", "type": "main", "index": 0}]]}, "Log - Quote Sent": {"main": [[]]}, "Webhook - Customer Accepted": {"main": [[{"node": "Validate Token", "type": "main", "index": 0}]]}, "Validate Token": {"main": [[{"node": "Update Quote - Accepted", "type": "main", "index": 0}]]}, "Update Quote - Accepted": {"main": [[{"node": "Update Pipeline - Quote Accepted", "type": "main", "index": 0}]]}, "Update Pipeline - Quote Accepted": {"main": [[{"node": "Resolve Escalation C", "type": "main", "index": 0}]]}, "Resolve Escalation C": {"main": [[{"node": "Email SM - Quote Accepted", "type": "main", "index": 0}]]}, "Email SM - Quote Accepted": {"main": [[{"node": "Email Customer - Booking Confirmed", "type": "main", "index": 0}]]}, "Email Customer - Booking Confirmed": {"main": [[{"node": "Log - Quote Accepted", "type": "main", "index": 0}]]}, "Log - Quote Accepted": {"main": [[]]}, "Webhook - Job Completed": {"main": [[{"node": "Check Duplicate Job", "type": "main", "index": 0}]]}, "Check Duplicate Job": {"main": [[{"node": "IF Already Completed", "type": "main", "index": 0}]]}, "IF Already Completed": {"main": [[], [{"node": "Update Pipeline - Completed", "type": "main", "index": 0}]]}, "Update Pipeline - Completed": {"main": [[{"node": "Build Invoice Data", "type": "main", "index": 0}]]}, "Build Invoice Data": {"main": [[{"node": "Fetch Accepted Quote", "type": "main", "index": 0}]]}, "Fetch Accepted Quote": {"main": [[{"node": "Create Invoice", "type": "main", "index": 0}]]}, "Create Invoice": {"main": [[{"node": "Create Stripe Price", "type": "main", "index": 0}]]}, "Update Pipeline - Payment Pending": {"main": [[{"node": "Email Invoice", "type": "main", "index": 0}]]}, "Email Invoice": {"main": [[]]}, "Webhook - Payment Received": {"main": [[{"node": "Normalize Payment", "type": "main", "index": 0}]]}, "Validate Invoice": {"main": [[{"node": "Payment Check Data", "type": "main", "index": 0}]]}, "IF Full Payment": {"main": [[{"node": "Update Invoice Paid", "type": "main", "index": 0}], [{"node": "Handle Partial Payment", "type": "main", "index": 0}]]}, "Handle Partial Payment": {"main": [[{"node": "Update Invoice Partial", "type": "main", "index": 0}]]}, "Update Invoice Partial": {"main": [[{"node": "Email SM - Partial Payment", "type": "main", "index": 0}]]}, "Email SM - Partial Payment": {"main": [[]]}, "Update Invoice Paid": {"main": [[{"node": "Update Pipeline - Closed Won", "type": "main", "index": 0}]]}, "Update Pipeline - Closed Won": {"main": [[{"node": "Resolve All Escalations", "type": "main", "index": 0}]]}, "Resolve All Escalations": {"main": [[{"node": "Email Customer - Payment Confirmed", "type": "main", "index": 0}]]}, "Email Customer - Payment Confirmed": {"main": [[{"node": "Email SM - Closed Won", "type": "main", "index": 0}]]}, "Email SM - Closed Won": {"main": [[{"node": "IF QuickBooks Enabled", "type": "main", "index": 0}]]}, "IF QuickBooks Enabled": {"main": [[], [{"node": "Trigger WF3", "type": "main", "index": 0}]]}, "Trigger WF3": {"main": [[{"node": "Log - Closed Won", "type": "main", "index": 0}]]}, "Log - Closed Won": {"main": [[]]}, "Stripe Webhook": {"main": [[{"node": "Parse Stripe Event", "type": "main", "index": 0}]]}, "Parse Stripe Event": {"main": [[{"node": "Normalize Payment", "type": "main", "index": 0}]]}, "Normalize Payment": {"main": [[{"node": "Validate Invoice", "type": "main", "index": 0}]]}, "Payment Check Data": {"main": [[{"node": "IF Full Payment", "type": "main", "index": 0}]]}, "Create Stripe Price": {"main": [[{"node": "Create Stripe Payment Link", "type": "main", "index": 0}]]}, "Create Stripe Payment Link": {"main": [[{"node": "Set Stripe Payment URL", "type": "main", "index": 0}]]}, "Set Stripe Payment URL": {"main": [[{"node": "Update Pipeline - Payment Pending", "type": "main", "index": 0}]]}}}
